<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div>zhangpeipei</div>
	<p>es6</p>
	<p>zhangpeipei</p>
	<button id="start"></button>
	<script src="/javascript/index.js"></script>
</body>
</html>